<header>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/logo/logo_ver3.webp" alt="MATH-CS COMPASS" class="site-logo">
            </a>
        </div>

        
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search keywords...">
            <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
        
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
        
        <ul class="nav-links">
            <li><a href="{% if page.level == 'home' %}index.html{% elsif page.level == 'section' %}../../index.html{% elsif page.level == 'detail' %}../../../index.html{% else %}../../../index.html{% endif %}">Home</a></li>
            <li><a href="{% if page.level == 'home' %}Mathematics/Linear_algebra/linear_algebra.html{% elsif page.level == 'section' %}../Linear_algebra/linear_algebra.html{% elsif page.level == 'detail' %}../Linear_algebra/linear_algebra.html{% else %}../Linear_algebra/linear_algebra.html{% endif %}">Linear Algebra</a></li>
            <li><a href="{% if page.level == 'home' %}Mathematics/Calculus/calculus.html{% elsif page.level == 'section' %}../Calculus/calculus.html{% elsif page.level == 'detail' %}../Calculus/calculus.html{% else %}../../Calculus/calculus.html{% endif %}">Calculus to Optimization & Analysis</a></li>
            <li><a href="{% if page.level == 'home' %}Mathematics/Probability/probability.html{% elsif page.level == 'section' %}../Probability/probability.html{% elsif page.level == 'detail' %}../Probability/probability.html{% else %}../Probability/probability.html{% endif %}">Probability & Statistics</a></li>
            <li><a href="{% if page.level == 'home' %}Mathematics/Discrete/discrete_math.html{% elsif page.level == 'section' %}../Discrete/discrete_math.html{% elsif page.level == 'detail' %}../Discrete/discrete_math.html{% else %}../Discrete/discrete_math.html{% endif %}">Discrete Mathematics & Algorithms</a></li>
        </ul>
    </nav>
</header>