---
uses_math: false
uses_python: false
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}
    
    {{ content }}
    
    {% include footer.html %}
    
    <script src="{% if page.level == 'home' %}js/main.js{% elsif page.level == 'section' %}../../js/main.js{% else %}../../../js/main.js{% endif %}"></script>
    <script src="{% if page.level == 'home' %}js/search.js{% elsif page.level == 'section' %}../../js/search.js{% else %}../../../js/search.js{% endif %}"></script>
    {% if page.level == 'home' %}
    <script src="js/updateLog.js"></script>
    {% endif %}

    <button id="go-to-top-btn" class="go-to-top-btn" title="Go to top">
        <i class="fas fa-arrow-up"></i>
    </button>
    <script>
        // Register the service worker
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js')
              .then(registration => {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
              })
              .catch(error => {
                console.log('ServiceWorker registration failed: ', error);
              });
          });
        }
      </script>
</body>
</html>