---
layout: default
title: Natural Gradient Descent
topic_id: ml-11
level: detail
uses_math: true
uses_python: false
noindex: true
---
<!DOCTYPE html>
<html>
    <body>
        {% include learning_resource_schema.html topic_id=page.topic_id %}
        
        <div class="hero-section">
            <h1 class="webpage-name">Natural Gradient Descent</h1>
        </div>

        {% include section_navigation.html %}

        <div class="topic-nav">
            <a href="#intro">Introduction</a>
            <a href="#demo">The Geometry of Information: Interactive GMM Manifold</a>
            <a href="#intro"></a>
            <a href="#intro"></a>
            
        </div>

        <div class="container">  

            <section id="intro" class="section-content">
                <h2>Introduction</h2>

                <p>

                </p>
            </section>

            <section id="demo" class="section-content">
                <h2>The Geometry of Information: Interactive GMM Manifold</h2>

                <p>

                </p>

                <div id="natural-gradient-visualizer"></div>

            </section>


            <section id="" class="section-content">
                <h2></h2>

                <p>

                </p>
            </section>

            <section id="" class="section-content">
                <h2></h2>

                <p>

                </p>
            </section>



        </div>

        <script src="/js/main.js"></script> 
        <script src="/js/sec5_p11_natural_gradient_visualizer.js"></script>   

    </body>
</html>
